numpy==1.26.0
tqdm~=4.48.2
wandb>=0.13.7,!=0.13.7
einops~=0.3.0
requests~=2.27.0
absl-py~=1.0.0
flatbuffers~=23.5.26
keras~=2.15.0
tensorboard~=2.15.0 # changed on 28march
tensorflow-estimator
jinja2~=3.0.0
typing-extensions~=4.5.0
google-api-core[grpc]
fabric~=2.6.0
optax==0.1.7
dm-haiku==0.0.10
ray[default]
jax==0.4.23
jaxlib==0.4.23
Flask==2.1.1 # changed on 28march
cloudpickle~=1.5.0
tensorflow==2.15.0
google-cloud-storage~=1.37.1
transformers
smart_open[gcs]~=5.2.1
func_timeout~=4.3.5
ftfy~=6.1.0
fastapi
uvicorn
lm_dataformat~=0.0.20
pathy
chex
